[2015-12-01 15:16] Alfro opened #1 "GeantWebTVBundle: Add welcome text to homepage"
Add a 'welcome' text to the homepage:
**Proposed by Ilias:**
*"Welcome to the eduOER Portal. Here, educators and students can find educational multimedia content across diverse resources, disc​iplines and countries"*

[2015-12-01 15:30] Alfro opened #2 "GeantWebTVBundle: Change 'repository catalogue' description text"
Replace the description text by a different one. Suggested by Ilias.
We have to ask them which text should be add there instead of the current one.

[2015-12-01 15:35] Alfro opened #3 "GeantWebTVBundle: Repository catalogue. Add description and logo."
**Add a description of each repository.**
This description should be provided on the feed, but it technically could be added manually
* Discuss with OER Geant which field of the script should contain this information, or if it should be added 'manually.

**Add logo of each repository**
The same as above. The solution used to add the description can be used to add the logo as well.

* When the deci

[2015-12-01 15:38] Alfro opened #4 "GeantWebTVBundle: A link to a multimedia object opens in the same window"
As suggested by Ilias, when clicking on a video, a new window (tab) should be opened.

[2015-12-01 16:03] Eielef opened #5 "GeantWebTVBundle: Fix date and views of the multimedia objects"
The date that appears on the web portal for each multimedia object is the 'last harvesting' date, instead of the proper date. This is due to the synchronization script using the field 'creationDate' as the date field on PuMuKIT.

There is no proper field from where to get the date. The only solution with the feed as it is now is to parse the 'contributors' field (some contributors have a date atta

[2015-12-01 16:11] Alfro opened #6 "GeantWebTVBundle: By subject catalogue: Edit some messages."
* In the video count next to each subject, remove the text 'all'.
* On the parent subjects, replace the text ' no videos yet' with 'no resources/recordings yet'

Suggested by Ilias.

[2015-12-01 16:19] Alfro opened #7 "WebTVBundle: Advanced search: Add count and spinner"
* Add the number of search results each time a search is made.
* Add a spinner after starting a search to indicate that work is being done.

Suggestions made by Ilias.

[2015-12-01 16:26] Alfro opened #8 "GeantWebTVBundle: Change GÉANT OER logo."
Ilias: The GÉANT OER mock-up logo should be changed to the new eduOER logo, once that’s ready. It must be done before we start actively promoting the portal to the general public.

* Change the logo when it's ready.

[2015-12-01 16:34] Alfro opened #9 "WebTVBundle: Lateral menu. Names and ordering"
Some changes have been suggested to the menu:

* Change the magenta color by dark-blue.
* Replace 'Go to Advanced search' by 'Advanced search'.
* Put 'By subject catalogue' before 'By repository catalogue'.

[2015-12-01 16:36] Alfro opened #10 "WebTVBundle: Move 'Advanced search' under the search box."
Peter comments that the advanced search feature should be more visible. He suggested adding a link to it to the header, under the search box, and removing it from the menu.

[2015-12-01 16:39] Eielef opened #11 "WebTVBundle: Channels. Wrong 'Subject' field."
After clicking on a 'channel' from the Home page, the mmobj listed by this channel appears. There is a faceted search too. Among the options, 'Subject' is wrong, since it is the 'Provider'.

Fix this bug.

[2015-12-01 16:44] Alfro opened #12 "WebTVBundle: Changes to static pages."
* Replace Info content by the content in this page: http://www.geant.org/Services/Real-time_communications/Pages/OER.aspx
* Replace Contacts page by this url: http://www.geant.org/Contacts/Pages/Home.aspx
* Leave FAQ empty for now.

Suggested by Peter.

[2015-12-01 16:46] Alfro opened #13 "WebTVBundle: Changing the webpage title/description"
* Replace *GÉANT WebTV* by *eduOER* as the webpage title. *By Peter*
* Replace *Geant Web TV* by Geant OER* as the tab title. *By Kirsten*

[2015-12-01 16:49] Alfro commented on #2
_Kirsten added:_ Don’t say ‘this service’ but say Geant OER. This is more personal.

[2015-12-02 08:23] Alfro opened #14 "GeantWebTVBundle: Make logo clickable and link to the 'home' page."

[2015-12-02 08:26] Alfro commented on #9
Eli suggested the following order:
Remove the title. ('Menu' text).
·        (home)-change into an icon, consider a different location (somewhere on the top…)
·        Subject catalogue
·        Repository catalogue
·        Language catalogue
·        Latest uploads
·        About (including the previous info section's content)
·        FAQ – delete the s and the apostrophe, put the questions fir

[2015-12-02 08:41] Alfro opened #15 "GeantWebTVBundle: Search: Sort languages alphabetically"
As stated by Eli, the languages aren't sorted. It would be useful if they are sorted alphabetically, to make finding the language you are interested in easier.

[2015-12-07 09:17] vogias opened #17 "The Delete objects issue - The internal Portal re-indexing script should work in order to depict immediately the new harvesting cycles’ metadata."

[2015-12-07 09:18] vogias commented on #17
How:
Delete the existing repositories that currently have no metadata.
Add newly added repositories.
Update existing repositories.

[2015-12-07 09:22] vogias opened #18 "If possible, play youtube videos natively."

[2015-12-10 10:34] Eielef opened #19 "The syncFeed (re-indexing) script doesn't add the last sync date to the mmobjs and series."
We detected a bug where the syncFeed script wouldn't record the sync date propertly.

[2015-12-10 11:51] Alfro commented on #17
The implementation we currently have in mind is to 'Block' repositories and multimedia objects that weren't updated (since they weren't present on the last feed) after the last re-indexing. Later on, there could be a script that deletes really old elements.
This way we ensure we don't delete an element by mistake (E.g: An element skips one harvesting cycle, but is later fixed and added) but at the

[2015-12-10 11:52] #19 closed

[2015-12-10 11:55] Alfro commented on #18
We will create the required embed url using the youtube url given on the feed. I'm working on it.

[2015-12-10 16:23] Alfro commented on #5
**Example with no date:**
http://83.212.114.48/search/v1/akif/?q=*&identifier=PSNC_epodrecnizki.Poland_KZD0000903

**Example with date on a 'contributor' field:**
http://83.212.114.48/search/v1/akif/?q=*&identifier=FCCN_Computacao_Cientifica_Nacional.Portugal_oai_educast.fccn.pt_vourzxsti

**Solutions:**
1. Adding a 'recordDate' field and change the script.
          \* - or -*
2. Use the 'creatio

[2015-12-10 16:25] Alfro commented on #5
@vogias Could you check the harversting process and see what can we do about this?

[2015-12-10 16:27] Eielef opened #21 "Very long repositories names break the design."
After the new changes on the feed, we realised that really long names for a repository would break the thumbnail design and appear on top of the 'date'.

[2015-12-10 16:53] #21 closed

[2015-12-11 08:51] #18 closed

[2015-12-11 10:16] vogias commented on #5
@Eielef it is reasonable to use the contribution date. Have in mind that if this info is missing from the respective metadata there is nothing i can do. Maybe you could add a label like "Ingestion date" on the left of the current date position in order to make clear what the specific date is.

[2015-12-11 10:19] vogias commented on #21
@Eielef So shall we keep the long more informative names or switch back to the previous ones?

[2015-12-11 11:34] vgoya opened #23 "Improve "Repository Catalog" page"
Improve the "Repository Catalog " page adding per Repository:

- Long-title
- Description
- Custom Thumbnail / Logo

These data for each Repo will be stored in GitHub and synchronized with the Portal by the daily data synchronization script.

[2015-12-11 11:36] vgoya commented on #21
Please keep the old short names.

We will work on this here:
https://github.com/teltek/PuMuKIT2-geant-bundle/issues/23

[2015-12-11 15:07] Alfro commented on #5
@vogias Do you mean we should use the _date_ field inside the _contributors_ field, instead of the field _creationDate_?

This _contributors_ field is actually a list ([Example](http://83.212.114.48/search/v1/akif/?q=*&identifier=CAMPUSDOMAR_CAMPUSDOMAR_oai_CMAR-Tv.1383)).
Why would the publishing date of the items be inside their list of contributors? Shouldn't it be somewhere else? (in a 'publis

[2015-12-11 15:44] vgoya commented on #5
@vogias What tag of the JSON file are you ussing for the field "7" of the Aplication Profile ??

[2015-12-14 09:10] vogias commented on #5
@vgoya It is the results.contributor.date. Have in mind that this field is mandatory only for the strict version of the AP. The repositories that currently support it are: UNED, LEON, UOC, UOC_RSS, VIGO_RSS, VIGO,VERTICE, CAMPUSDOMAR,MAOR, UPV, FCCN, STANFORD (Most of them)

[2015-12-14 09:11] vogias commented on #5
One issue that may rise is the date format, since every repo has its own date formatting

[2015-12-16 08:31] Alfro commented on #11
Fixed and merged to 1.0.x

[2015-12-16 08:31] #11 closed

[2015-12-17 12:55] Alfro commented on #5
@vogias I added the 'contributors.date' field as a date on the script. However, I still think having that value inside 'contributors' is not very intuitive.

About the date format. The ideal case would be that everyone used the ISO 8601 format, of course.
Although I could add most dates I found on the feed as of now.

[2015-12-17 16:36] Alfro opened #27 "Embed Uned videos automatically."

[2015-12-17 16:45] Alfro opened #28 "UNED videos can't be viewed."
The videos coming from the Uned feed aren't being viewed on the portal. This is an issue with their format being 'video/mp4' even though they have an embed url. Other repositories may have the same problem.

[2015-12-18 15:56] andperez opened #29 "Wrong favicon on the "About" page"
The favicon showed when the user visits the "About" page is the "PuMuKIT 2" icon instead of the "Geant" icon.

[2016-01-04 16:37] Alfro opened #32 "GeantWebTVBundle: Optimizing synchronization with 'lastUpdateDate'"
Using the 'lastUpdateTime' on the feed we can save time when executing the PumuKIT sync script with the feed.

[2016-01-05 16:44] #23 closed

[2016-01-05 16:51] Alfro commented on #23
Now json files can be added to 'Resources/data/repos_data/' to add:
- Title
- Description
- Logo
  to the Repository Catalog listing.

If not json is added, the default image and title will be used.

[2016-01-06 12:34] szegedip opened #34 "Add TNC videos as a main category on the portal front page"
Add TNC videos as the 6th Channel on the homepage of the portal.

[2016-01-06 12:39] szegedip opened #35 "Faceted search under Channels: change subject to provider"
Click on a Channel. The second field in the faceted search should be Provider instead of Subject. Please, fix.

[2016-01-07 09:09] Alfro commented on #35
This issue was already detected and fixed (#11)
The changes will be visible on the pre-production and production environment as soon as the new tag is deployed.

[2016-01-07 10:09] rubenrua opened #36 "Update portal link in the OER site."
The portal link in the [OER site](https://oer.geant.org/) is wrong.

The OER portal should link to the [production environment](https://portal.oer.geant.org/) instead of the [test environment](https://snf-683722.vm.okeanos.grnet.gr/).

[2016-01-07 12:09] Eielef opened #37 "Improve log system of Sync Script: Add statistics."
We will process the output of the script and display a statistics of failed/ok videos per provider.

[2016-01-07 15:15] Alfro commented on #37
Done and merged to 1.0.x

[2016-01-07 15:15] #37 closed

[2016-01-07 15:17] #29 closed

[2016-01-12 10:57] rubenrua commented on #34
Can we use this image as a poster?

https://www.terena.org/news/img.php?file_id=2521

[2016-01-12 11:07] szegedip commented on #34
Wait, I double-check and let you know, or send a new pic.

[2016-01-12 11:16] vogias opened #39 "Update geant.feedsyncservice.baseurl"
Update geant.feedsyncservice.baseurl to https://services.oer.geant.org/search/v1/akif/ instead of http://83.212.114.48/search/v1/akif/

[2016-01-12 11:30] Alfro opened #40 "The thumbnails for CAMPUSDOMAR videos are all the main logo."
Checking on the harvested feed for CAMPUSDOMAR, we realised all thumbnails are the same (main logo of Campus do Mar). Each  object should have its own thumbnail, not a generic one, so we think there could be a problem with the original feed.
* @vogias Which feed are you using for CAMPUSDOMAR objects?

[2016-01-12 11:39] vogias commented on #40
Yes you are right as far as i remember campus do mar repository was down or not accessible for some time(also campus do mar thumbnails) so i transferred the metadata to the geant oai-pmh service and exposed the metadata from there(and added a default thumbnail) in order not to loose it.So if campus do mar is online and available please send me the respective oai-pmh target URL in order to reharves

[2016-01-12 11:49] rubenrua commented on #39
Today this will be deployed on https://snf-683722.vm.okeanos.grnet.gr/

[2016-01-12 11:49] #39 closed

[2016-01-12 12:24] Alfro opened #41 "Wrong years on the Advanced Search 'Year' select box."
After executing the sync script on the staging environment, many years appeared that were not correct (all years from 211 to 2016 appear).

[2016-01-12 12:28] Alfro commented on #41
The cause was a video file from FCCN (https://educast.fccn.pt/vod/clips/oo977kqvx/link_box) which has a wrong year on the feed (01/11/0211).

I'll work on fixing the year listing to take only existing years from the database, instead of a range from the oldest to the newest.

[2016-01-12 12:55] szegedip commented on #34
Sorry, it was too large. Sending one pic again.

Peter

On 12/01/2016 13:40, Peter Szegedi wrote:

##

Peter Szegedi
PROJECT DEVELOPMENT OFFICER
GÉANT - Amsterdam office
T: +31 (0) 20 530 4488

Networks • Services • People
Learn more at www.geant.org

GÉANT is the collective trading name of the GÉANT Association in
Amsterdam, NL, and of GEANT Limited in Cambridge, UK.

The GÉANT Association is a n

[2016-01-12 12:55] szegedip commented on #34
I sent you a new image that you can crop and use.

[2016-01-12 13:02] Alfro commented on #41
Fixed on the base WebTVBundle controller. Added to 2.2.x branch of PuMuKIT
[commit](https://github.com/campusdomar/PuMuKIT2/commit/03104d6ac3440c448af33531e1bcc190585ceece)

[2016-01-12 13:57] rubenrua commented on #34
Preview:

![screenshot from 2016-01-12 14 57 02](https://cloud.githubusercontent.com/assets/195745/12265325/c729896c-b93c-11e5-873a-c86ce786de79.png)

[2016-01-12 13:57] #34 closed

[2016-01-12 16:52] Alfro commented on #28
@vogias Can you try to harvest UNED again? We would like to check if the UNED feed is correct now.

[2016-01-12 16:56] Alfro commented on #40
@rubenrua Can you take a look at this?

[2016-01-12 18:28] Alfro commented on #41
There are years that belong to 'Blocked' objects. Fixing it now.

[2016-01-12 18:36] Alfro commented on #5
For now, we added a default DateTime. '01/01/1970H:01:00:00'. This way we ensure videos without a date (like TNC) are imported also. We will add a warning to display which videos have an incorrect date.

[2016-01-12 18:46] Alfro opened #42 "Add Warning sign to objects with no date."
After the last changes in #5, there will be objects with a date that is not the object's date (01/01/1970).
Add a warning sign to said objects.

[2016-01-12 18:58] Alfro commented on #42
The text we added as a warning is "This object's date could not be correctly added."
Is it correct enough, or should we change it? @vgoya Can you verify this?

[2016-01-13 08:55] Alfro opened #43 "ELTE videos were not imported (no valid playable resource found)"
@vogias
Executing the last sync on the staging environment we saw no ELTE videos were imported.
The reason is the strange url format in the feed. They have two items:
[code]

The first is the url to a page, and the second the actual .flv video. A normal 'manifestations' file has the following structure:
[code]
**Issues:**
* Is this an error in this particular feed, or should the script expect 'ite

[2016-01-13 09:15] vogias commented on #43
@Alfro Thanks for the info. I will try to fix it during harvesting.I will keep the flv only URL.

[2016-01-13 09:32] vogias commented on #43
@Alfro Done!

[2016-01-13 09:48] Alfro commented on #43
@vogias Great! We will execute the script again ASAP and check the videos are playing correctly.

[2016-01-13 11:53] Alfro commented on #43
ELTE videos were correctly imported now. Closing issue.

[2016-01-13 13:28] vogias commented on #28
@Alfro Done

[2016-01-13 13:30] vogias commented on #36
Please assign this @szegedip that is responsible for the site

[2016-01-13 14:24] Alfro commented on #28
@vogias The feed didn't seem to change. Which feed are you using to harvest UNED?

[2016-01-13 14:42] vogias commented on #28
@Alfro i harvest using RSS the channels are the following:
https://canal.uned.es/2010/arca.xml,
https://canal.uned.es/2009/arca.xml,
https://canal.uned.es/1991/arca.xml,
https://canal.uned.es/1960/arca.xml,
https://canal.uned.es/1974/arca.xml,
https://canal.uned.es/1968/arca.xml,
https://canal.uned.es/1964/arca.xml,
https://canal.uned.es/1973/arca.xml,
https://canal.uned.es/1971/arca.xml,
https://

[2016-01-13 14:53] Alfro commented on #28
@vogias Right, so you are using the `<link>` block, which points to the webpage instead of the resource. The correct field would be the `url` property from the `<media:content>` block
`<media:content url="https://canal.uned.es/file/29416.mp4">`
Could you change that on the harvesting script?

[2016-01-13 14:54] vogias commented on #28
sure

[2016-01-13 15:49] szegedip commented on #36
fixed

[2016-01-14 12:57] Alfro opened #44 "Show objects on 'Latest Uploads'"
In order to show objects at 'Latest Uploads'
* Add 'publicDate' to newly harvested mmobjs as the date they were haversted at.
* Add command to reset mmobjs 'publicDate' for already existing objects. (Execute it once)
* View on the portal the 'Latest Uploads' as the last X mmobjs sorted by 'PublicDate'

[2016-01-14 14:36] vogias commented on #28
@Alfro Done

[2016-01-15 10:10] silviabf opened #45 "Contact page: link to Cambridge office go to a non-existing page"
Steps:
- Go to Contact page: https://snf-683722.vm.okeanos.grnet.gr/contact
- Click on link: Visiting_DANTE

Problem: You achieve: The page you're looking for doesn't exist.

[2016-01-15 10:22] silviabf opened #46 "Broken pictures in videos from VIGO_RSS"
Steps:
- Go to: https://snf-683722.vm.okeanos.grnet.gr/searchmultimediaobjects/VIGO_RSS

Problem: The last 8 videos have broken images as we can see in the attached capture
![capture_vigo_rss](https://cloud.githubusercontent.com/assets/11191010/12350910/4409b922-bb7a-11e5-9136-682437964ef6.png)

[2016-01-15 10:39] silviabf commented on #43
Steps:
- Go to: https://snf-683722.vm.okeanos.grnet.gr/searchmultimediaobjects/ELTE
- Click on any video (using chrome navigator)

Problem: When you click on a video instead of play it, a window to download the video is opens.
And as you can see in the attached capture, the dates seem correct but a warning is shown.
![capture_elte](https://cloud.githubusercontent.com/assets/11191010/12351256/90619

[2016-01-15 10:53] silviabf opened #47 "Warning is shown with right dates"
Steps:
- Go to Repository catalogue
- Select ELTE or PSNC

Problem: The recording dates of the video seem correct but a warning is shown about the dates.

[2016-01-15 11:00] silviabf opened #48 "WebTV Bundle: Repository catalogue: Wrong alphabetical order"
Steps:
- Go to: https://snf-683722.vm.okeanos.grnet.gr/catalog/by_repository
- Go down to the end of the page

Problem: As you can see in the attached capture. There are repeated letters and they are messy.
![capture_repository](https://cloud.githubusercontent.com/assets/11191010/12351661/89a21556-bb7f-11e5-9f7c-84ccc602ce67.png)

[2016-01-15 11:20] vogias commented on #45
@Alfro I have already recreated the contact page based on the link http://www.geant.org/Contacts/Pages/Home.aspx
I will create a pull request at the end of the day

[2016-01-15 12:10] Alfro commented on #48
I think this is an issue with the #23 feature and the difference between the repo code and the title.
I will check it out.

[2016-01-15 15:01] Alfro commented on #40
@vogias Right now, the oai-pmh service for campusdomar is down. Could you use the ARCA feeds instead for now?
All the feeds are listed in this url (it works like with UNED): http://tv.campusdomar.es/arca.xml

[2016-01-18 09:01] Alfro opened #51 "Show default image when the original thumbnail pic returns an error."
It could be done with jQuery, sort of like this:

http://stackoverflow.com/a/9891041
[code]

[2016-01-18 09:02] Alfro commented on #46
That is an issue with the original feed. The url http://dls2.uvigo.es/static/itunes/pics/1050.jpg returns a 404. We will look on this issue on the future.

For future cases, we could implement #51 to have a default 'No Image' picture.

[2016-01-18 09:43] Alfro commented on #45
Pull request merged. Will be on preproduction soon.

[2016-01-18 09:46] Alfro commented on #14
After #50, the link was changed to point to the geant project main webpage. https://oer.geant.org

[2016-01-18 10:18] vogias commented on #40
@Alfro Done. For more details please check : https://services.oer.geant.org/monitoring/#/dashboard/elasticsearch/GEANT%20OER%20Aggregation
 and https://services.oer.geant.org/monitoring/#/dashboard/elasticsearch/GEANT%20OER%20Metadata%20Analysis

[2016-01-18 12:45] Alfro opened #52 "Change CAMPUSDOMAR Arca url to provide the iframe (change format) or the media"

[2016-01-18 12:52] vogias commented on #3
@Alfro The staging page is not updated at the repository catalogue with new repo information and pics.

[2016-01-18 15:18] silviabf commented on #45
New Contact page is OK on preproduction. I close the issue.

[2016-01-18 15:18] #45 closed

[2016-01-18 15:24] Alfro commented on #3
@vogias We already detected and solved the issue.

[2016-01-18 15:28] silviabf commented on #48
Fixed in preproduction. I close the issue.

[2016-01-18 15:28] #48 closed

[2016-01-18 15:54] silviabf commented on #47
Fixed in preproduction. I close the issue.

[2016-01-18 15:54] #47 closed

[2016-01-18 16:14] Alfro commented on #43
Alright, I modified the script to mark as 'playable' the flv files. They won't be visible if the user is using a mobile phone though.

[2016-01-19 10:10] Alfro commented on #52
The arca url is correct. My bad. We have to do the same as on #28

[2016-01-19 10:10] #52 closed

[2016-01-19 10:10] rubenrua commented on #52
Check the arca feed in http://tv.campusdomar.es/arca.xml

In `media:content` you have all the media info. Let me know what is the issue.

[2016-01-19 10:12] Alfro commented on #40
@vogias Like on #28, can you use `<media:content url="http://dls.campusdomar.es/pumukitcmar/15/839.mp4" ... >` Instead of the `<link>` block?

[2016-01-19 10:44] vogias commented on #40
@Alfro Done

[2016-01-19 10:48] vogias commented on #13
@Alfro this is already implemented

[2016-01-19 10:50] vogias opened #54 "Wrong PSNC multimedia repository image"

[2016-01-19 12:32] Alfro commented on #13
True. Implemented on commits: (70cfafe, 792b2dc ) and merged on #50
Closing issue.

[2016-01-19 12:32] #13 closed

[2016-01-19 13:13] vogias commented on #3
@Alfro I think this could be closed

[2016-01-19 14:04] vogias commented on #8
@Alfro This could be closed

[2016-01-19 14:49] #3 closed

[2016-01-20 11:35] Alfro commented on #40
Now the correct thumbnails are viewed in the portal at the staging environment. Closing issue.

[2016-01-20 11:35] #40 closed

[2016-01-20 11:41] #1 closed

[2016-01-20 11:41] #7 closed

[2016-01-20 11:51] Alfro commented on #12
The changes are applied to the main branch. Closing issue.

[2016-01-20 11:51] #12 closed

[2016-01-20 16:08] silviabf opened #63 "GeantWebTVBundle: Wrong link in the breadcrumbs"
Steps:
- Go to Repository Catalogue
- Select Campus do Mar
- Click on any video
- Then click on the breadcrumb of CAMPUSDOMAR

Problem: The page shown is a strange version of the repository of Campus do Mar. The page must be the same as if you go by Repository Catalogue.

[2016-01-20 16:13] silviabf commented on #41
Year 211 is shown yet on the Advanced Search 'Year' select box

[2016-01-20 16:17] Alfro commented on #41
This is not a Géant error.
[This video](https://educast.fccn.pt/vod/clips/oo977kqvx/link_box) has a wrong date to begin with.
We should just let FCCN know and let them correct it.
@vgoya Should we send them an e-mail?

[2016-01-21 09:52] vogias commented on #54
@Alfro this could be closed

[2016-01-21 10:03] #54 closed

[2016-01-21 11:21] Alfro opened #65 "TNC videos can't be viewed on the portal"
The url for TNC videos on the feed changed to this format 'hdl.grnet.gr/11239/eduOER_TNC_949595874'

Now when clicking on a TNC video it shows a 404 error.

[2016-01-21 11:25] Alfro commented on #65
**To do:**
- Make controller more robust by adding 'http://' to no absolute urls. (In case another url has the same problem in the future)
- Fix TNC feed to correct the url.

[2016-01-21 11:26] Alfro commented on #65
@vogias Is there any reason why the feed was changed?
Also we need to have into account that with the current url (even adding the https:// bit) we can't get the youtube iframe to embed it on the portal. (Instead it would redirect to youtube)

[2016-01-21 11:34] vogias commented on #65
@Alfro TNC repository is a test case of using persistent identifiers (see HANDLE systems) for metadata repositories.It is a strategic plan from project perspective to use PIDs. Do you think there is a possibility to  find a workaround or should i inform Peter and Ilias about that?

[2016-01-21 12:57] Alfro commented on #65
@vogias There is a workaround we could do:
- Currently, the url on 'hdl.grnet.gr' is redirecting to the **youtube portal**.
- If they redirected to the **youtube iframe** directly (_https://www.youtube.com/embed/LskEi19sZkM_ instead of _https://www.youtube.com/watch?v=LskEi19sZkM_ for example) we can use them to embed the video on Géant and still keep the 'hdl' url.

[2016-01-21 14:29] vogias commented on #65
@Alfro Ok, i'll see what i can do. What about the other repositories that are non-youtube related. Are we going to have the same problem?

[2016-01-21 15:58] Alfro commented on #65
@vogias Some issues will arise. But it is something we have been doing in other PuMuKIT platforms (redirecting to files or iframes) without mayor difficulties.

We would have to change the script logic though, and make it rely exclusively on the 'format' field, so it would be mandatory that this field is correct. (Currently I am parsing the url when the 'format' field doesn't exist or it doesn't g

[2016-01-22 05:01] vgoya commented on #65
@vogias I do think that this Persistent-ID thing is very interesting feature but it should be tackled in the future not in this very stage of the project, We are trying now to close a minimum viable project and I dont  think that feature is a must. But may be worth to check this with Ilias and/or Peter. What do you think ?

[2016-01-22 09:15] vogias commented on #65
@vgoya Sensible thinking. I currently reverted the TNC data to the previous version, so after a reindexing there will be no problem. In parallel i will think of viable solutions in order not to break the portal but also not compromise the project.

[2016-01-22 10:06] vgoya commented on #65
@vogias Thank you !

[2016-01-26 11:13] vogias commented on #65
@vgoya @Alfro One solution i came up, is to change the identifier element of the search API with the created PID and let the location hold only the actual URL of the Learning Object. Please check a [TNC example](https://services.oer.geant.org/search/v1/akif?set=TNC). Do you think this is ok from Portal perspective and won't break anything?

[2016-01-26 18:03] Alfro commented on #65
@vogias Changing only the identifier won't break anything.

However, have into account that if an identifier is changed on the search API, the PuMuKIT script will think it's a new object and create it again, also blocking the old one (since its ID doesn't exist anymore).

[2016-01-27 09:26] vogias commented on #65
@Alfro So the worst case scenario, is a full re-indexing and maybe a double sized index?

[2016-01-27 10:20] Alfro commented on #65
@vogias Yes.
We can always make a command to remove the 'Blocked' elements though.

[2016-01-27 10:59] vogias commented on #4
@Alfro this should be closed

[2016-01-27 11:00] vogias commented on #2
@Alfro This should be closed

[2016-01-27 11:01] vogias commented on #6
@Alfro should be closed

[2016-01-27 11:02] vogias commented on #9
@Alfro  this could be closed

[2016-01-27 11:03] vogias commented on #10
@Alfro this should be closed

[2016-01-27 11:03] vogias commented on #14
@Alfro this should be closed

[2016-01-27 11:04] vogias commented on #15
@Alfro this could be closed

[2016-01-27 11:05] vogias commented on #17
@Alfro i think this is implemented right?

[2016-01-27 11:06] vogias commented on #27
@Alfro i think this is implemented.If yes please close the issue

[2016-01-27 11:08] vogias commented on #28
@Alfro this should be closed

[2016-01-27 11:11] vogias commented on #65
@Alfro this should be closed

[2016-01-27 11:11] vogias commented on #35
@Alfro this should be closed

[2016-01-27 11:12] vogias commented on #36
@rubenrua this should be closed

[2016-01-27 11:12] vogias commented on #42
@Alfro This could be closed

[2016-01-27 11:14] vogias commented on #43
@Alfro This could be closed

[2016-01-27 14:10] #36 closed

[2016-01-27 14:10] #35 closed

[2016-01-27 14:10] #65 closed

[2016-01-27 14:10] #10 closed

[2016-01-27 14:10] #9 closed

[2016-01-27 14:11] #6 closed

[2016-01-27 14:11] #2 closed

[2016-01-27 14:12] #4 closed

[2016-01-27 14:23] #42 closed

[2016-01-27 14:24] #43 closed

[2016-01-29 12:22] Alfro commented on #63
This was fixed with the previous commit. We are about to deploy it to the staging env.

[2016-01-29 12:23] #15 closed

[2016-01-29 12:24] #8 closed

[2016-01-29 12:24] #14 closed

[2016-01-29 12:25] Alfro commented on #27
It is implemented. Closing the issue.

[2016-01-29 12:25] #27 closed

[2016-01-29 12:25] #28 closed

[2016-01-29 12:25] Alfro commented on #17
It is. Closing.

[2016-01-29 12:25] #17 closed

[2016-01-29 12:30] Alfro commented on #44
This is also implemented, and should be on staging soon.

[2016-01-29 14:34] Alfro commented on #32
This can be a nice improvement on the script's speed for the future, but as long as the script keeps changing, it is better not to have it for now. It can be revised on the future, though.

[2016-01-29 14:34] #32 closed

[2016-01-29 15:20] Alfro commented on #51
This is also implemented and will be on staging soon

[2016-02-03 10:33] silviabf commented on #44
This bug continues happening

[2016-02-03 12:19] silviabf commented on #63
Fixed in snf-683722.vm.okeanos.grnet.gr. The breadcrumbs are correct now.

[2016-02-03 12:19] #63 closed

[2016-02-03 12:24] silviabf opened #67 "PRACE, PSNC and FCCN videos can't be viewed on the portal"
Steps:
- Go to Repository of PRACE, PSNC or FCCN in snf-683722.vm.okeanos.grnet.gr
- Click on any Video

Problem: A new window is opened that shows: this web is not avaliable.

[2016-02-03 15:19] silviabf commented on #67
This bug happens with all Repositories with external links: PRACE,PSNC, FCCN, MAOR, CRETE,..

[2016-02-04 10:05] rubenrua commented on #67
`https://snf-683722.vm.okeanos.grnet.gr/video/566ebd0435f5251b5f8bdf4f` redirect to `http://https://educast.fccn.pt/vod/clips/17s6luois2/link_box`

Bug in [MultimediaObjectController](https://github.com/teltek/PuMuKIT2-geant-bundle/blob/1.0.0-RC20/Controller/MultimediaObjectController.php#L23) with [strpos](http://php.net/manual/es/function.strpos.php).

RTFM :)

[2016-02-04 14:44] Alfro opened #68 "FCCN does not have a proper logo/description"
**New Description:**
Educast is a lecture recording service that allows to record, edit and publish classes and other institutional events on the web.
This solution is comprised of a central repository for storing and processing videos, online content editing and recording software. The platform is supported by FCT-FCCN and is aimed to students, teachers and researchers.

[2016-02-05 09:26] michzimny opened #69 ""Total search results:454" - missing space"
There should be a space between ":" and "454" at the search result page, e.g. https://portal.oer.geant.org/searchmultimediaobjects?tags[]=&language=pl&tags[]=&year=&duration=&type=&search=

[2016-02-08 12:57] vogias opened #70 "#70 Add Videotorium repository"
I will take care of this,the repository is already harvested, so i will fill the repo related info(json, image)

[2016-02-10 09:00] #70 closed

[2016-02-10 09:05] Alfro commented on #68
This commit is added to the master branch. Now these changes can be seen on the production environment

[2016-02-10 09:05] #68 closed

[2016-02-10 09:19] Alfro opened #72 "The geant Search API throws a 500 Error when adding a 'sort_by' parameter"
This is not a blocker bug, since we are not using this feature at the moment.

Example Url: https://services.oer.geant.org/search/v1/akif/?q=*&sort_by=identifier
![search_api_error_500](https://cloud.githubusercontent.com/assets/11334172/12942975/859c6ccc-cfde-11e5-8be7-096e40cccedc.png)

[2016-02-10 09:21] Alfro commented on #72
It is probably just a typo. The SortOrder constants seems to be ASC and DESC (in capital letters):
http://javadoc.kyubu.de/elasticsearch/v1.0.2/org/elasticsearch/search/sort/SortOrder.html

[2016-02-10 09:32] Alfro opened #73 "The geant Search API doesn't return any results when filtering by specific 'sets'"
Out of the sets listed on https://services.oer.geant.org/search/v1/akif/?q=*&facets=set
![search_api_sets](https://cloud.githubusercontent.com/assets/11334172/12943279/87797114-cfe0-11e5-8b8e-1f71d4dadd42.png)
The following sets don't return any results when filtering by 'set'
VIDEOTORIUM
https://services.oer.geant.org/search/v1/akif/?q=*&set=VIDEOTORIUM
![videotorium](https://cloud.githubusercont

[2016-02-10 10:52] vogias commented on #72
Thanks for the feedback! The search API is fixed, when i deploy the new version i'll let you know.

[2016-02-10 12:51] vogias commented on #72
ok done!

[2016-02-10 12:53] vogias commented on #73
This is truly weird! I don't even know how to debug this :-)

[2016-02-10 15:47] Alfro commented on #72
@vogias Cool!
Btw, when 'sort_by' is set to a parameter that doesn't exist the API returns a 500 error.
Besides that, it seems to work just fine! :)
Would you like to change that too, or should I close the issue already?

[2016-02-11 11:16] vgoya opened #74 "Place a big search box on home page"
Try to place a big search box on the home page removing the Welcome mensage.

Show this new layout in pre-pro to the team and wait for feedback

[2016-02-11 11:38] vogias opened #75 "#75 remove the "Meterials" Panel on video review page"
Since there are no materials to fetch, i will try to fix it my self

[2016-02-11 13:51] vogias commented on #72
ok, fixed. Please close the issue.

[2016-02-11 14:40] #72 closed

[2016-02-12 17:16] rubenrua opened #78 "Release version 1.0.0"
Not more release candidates.

[2016-02-16 09:31] vogias opened #79 "#79 Search box reformation"
I will try to implement it.

[2016-02-18 09:47] silviabf commented on #67
Bug is fixed in snf-683722.vm.okeanos.grnet.gr. I close the issue

[2016-02-18 09:47] #67 closed

[2016-02-18 10:01] silviabf commented on #44
Bug fixed. I close the issue.

[2016-02-18 10:01] #44 closed

[2016-02-18 10:09] silviabf opened #81 "Wrong order in latest uploads section"
Steps:
- Go to snf-683722.vm.okeanos.grnet.gr
- Go to Latest Uploads

Problem: As you can see in the attached capture, the order of the videos seems to be wrong. The videos are ordered by publishing date but the date shown is recording date, and it's very strange to see it.
![latest_uploads](https://cloud.githubusercontent.com/assets/11191010/13140026/06a315e4-d630-11e5-979a-9c415e15c1b6.png)

[2016-02-18 10:11] silviabf commented on #69
The bug is fixed in snf-683722.vm.okeanos.grnet.gr. I close the issue.

[2016-02-18 10:11] #69 closed

[2016-02-18 10:52] vgoya commented on #81
We may need to specify "Recorded: Date" in the UI to avoid confusion with "Added date"

@Alfro please, add here a mockup of an improved UI

[2016-02-18 11:07] Alfro commented on #81
- I reduced the size of the Date field font
- I added the text 'Recorded:' to the left.

![new_design_2](https://cloud.githubusercontent.com/assets/11334172/13141449/b5597fae-d637-11e5-8323-967829d05c84.png)

We also tried to add it a border to see how it looks (making the 'Viewed' be more clearly part of the thumbnail)
![new_design](https://cloud.githubusercontent.com/assets/11334172/13141521/0f8

[2016-02-19 09:24] vogias commented on #75
#75 could be closed

[2016-02-19 09:24] vogias commented on #74
#74 could be closed

[2016-02-19 09:26] vogias commented on #73
#73 this is solved. You could use lower case set input in case the upper case does not work.

[2016-02-22 13:02] vgoya commented on #81
@vogias / Ilias  What do you think about this "boxed" idea ?

[2016-02-22 13:45] vogias commented on #81
@vgoya Sure why not. Is it possible to paste a screenshot of a mouse hovering event over a video panel?

[2016-02-22 14:27] vogias commented on #81
@vgoya ok i implemented this. Please check the pull requests.

[2016-02-22 16:24] vgoya commented on #81
Great, thank you

[2016-02-25 09:15] iliashatzakis opened #83 "Inconsistency between "Recently added" and "latest uploads""
a. Is it normal that those two categories give different resuts?
b. Is is worth keeping both?

[2016-02-25 09:37] vogias opened #84 "UOC points to UOC_RSS and vice versa"
It is probably a repos_data issue, so please let me fix it.

[2016-02-25 09:44] vogias commented on #84
Done

[2016-02-25 11:18] Alfro commented on #78
https://github.com/teltek/PuMuKIT2-geant-bundle/releases/tag/1.0.0

[2016-02-25 11:18] #78 closed

[2016-02-26 09:51] vogias opened #86 "Change date label on listing page from '1970'"
When repository date is not determined, the label will be 'N/A' with a explanation tooltip instead of '1970' value

[2016-02-26 09:51] vogias commented on #86
I will implement it

[2016-02-26 09:54] vogias commented on #86
![86_screenshot](https://cloud.githubusercontent.com/assets/2890621/13349000/a978043c-dc7f-11e5-849e-6aca25027e26.png)

[2016-02-29 13:48] vogias opened #88 "Total metadata records issue"
Total metadata records number at portal is: 41.828, whereas at [aggregation dashboards](https://services.oer.geant.org/monitoring/#dashboard/temp/N9YJZ_XnR3qUQUQAoLCPVA) it is 42.621(check link checking panel)

[2016-02-29 14:37] Alfro opened #89 "Menu 'Recently Added'. Show 'Harvested date' of the multimedia objects"
Currently the 'Recently Added' view shows the multimedia objects with the 'Recorded date' (as in other pages)

They should show the 'Harvested date' instead, to clarify that they are ordered by 'Harvested date' and not 'Recorded date'.

[2016-02-29 16:28] Alfro commented on #89
This won't be done not to break the uniformity of the multimedia objects thumbnails

[2016-02-29 16:28] #89 closed

[2016-02-29 16:53] vgoya commented on #86
During the virtual meeting we decided not to do this change, AFAIK

To do it properly we need a "N/A date" at all levels included the faceted search form. Now you choose 1970 in the faceted search and in the outcome you will read "N/A" but any other year will have a different behaviour

[2016-03-01 08:53] vogias commented on #86
@vgoya What do you think of a solution like the following?
![example](https://cloud.githubusercontent.com/assets/2890621/13422208/df25cc62-df9b-11e5-82c3-03fee520ab7b.png)

[2016-03-01 09:03] vgoya commented on #86
Much better solution, yes.

[2016-03-01 09:14] Alfro commented on #88
The 'total' returned by the api is **41924** (https://services.oer.geant.org/search/v1/akif/?q=*)
From those, there were 96 that were not imported. (Resulting in 41.828 imported)

Here is the log showing detailed statistics: [geant_import_log.txt](https://github.com/teltek/PuMuKIT2-geant-bundle/files/152447/geant_import_log.txt)

¿Maybe we are using the wrong api endpoint?

[2016-03-01 10:20] vogias opened #91 "Social Media buttons are in spanish"
I will change them to English

[2016-03-03 09:21] vogias opened #93 "Change front page layout"
Ilias' proposition:

1.       MOST VIEWED: First of all, the user imagines that the most viewed items are viewed X times in their lifetime independently of the portal. The reality is different: they are “most viewed inside our portal”, and most probably they are most viewed only because they are placed first at the “most viewed” list.

2.       RECENTLY ADDED: this seems even more irrelevant. It d

[2016-03-04 08:38] Alfro commented on #93
For now, it looks like this:
![photo_geanto](https://cloud.githubusercontent.com/assets/11334172/13521972/d005a15a-e1ec-11e5-9da9-8b490f8d829b.png)

[2016-03-04 13:39] vogias opened #95 "Video sharing capability is missing from TNC repository"

[2016-03-04 13:40] vogias opened #96 "Videotorium image is missing from catalog view at portal.oer.geant.org"

[2016-03-04 16:40] rubenrua commented on #95
No `track.id` in youtube videos.

See: https://github.com/teltek/PuMuKIT2-geant-bundle/blob/1.0.1/Resources/views/MultimediaObject/share.html.twig#L45

[2016-03-04 18:21] rubenrua commented on #95
Fixed in tag `1.0.2`

[2016-03-07 08:01] Alfro commented on #91
This is fixed for 1.0.2
Closing issue.

[2016-03-07 08:01] #91 closed

[2016-03-07 08:01] Alfro commented on #79
This is already implemented for 1.0.2
Closing issue.

[2016-03-07 08:01] #79 closed

[2016-03-07 08:02] #74 closed

[2016-03-07 08:02] Alfro commented on #81
Both the borders and the bugfix are implemented on 1.0.2
Closing issue

[2016-03-07 08:02] #81 closed

[2016-03-07 08:05] Alfro opened #97 "Channels: Order by date is set to 'asc'"
The order by date in the Search panel is set to 'desc' (most recent first), but in channels it is set to 'asc' (oldest first), showing the UPV videos first, and giving quite an awful look to all channels.

[2016-03-07 08:08] Alfro commented on #95
Fixed. Closing issue.

[2016-03-07 08:08] #95 closed

[2016-03-07 08:09] Alfro commented on #86
This is already implemented on 1.0.2
Closing issue

[2016-03-07 08:09] #86 closed

[2016-03-07 08:36] Alfro opened #98 "Delete UPV temporarily from Search API results"
As of today, the UPV videos are erroneous. All video urls do a redirect to the upv main page, thus are not being played on the portal.
Example: http://polimedia.upv.es/iphone/cursos/32000-Suitberto_Cabrera_Garcia/M16/B05/hd/polimedia_muxed.mp4

Until that can be fixed, we should remove the UPV repository from the Search API results

[2016-03-07 09:12] Alfro commented on #96
Fixed for 1.0.3. It is on production now
Closing issue.

[2016-03-07 09:12] #96 closed

[2016-03-07 09:26] Alfro opened #99 "Add google analytics to the production Geant portal"

[2016-03-07 09:29] Alfro commented on #99
A google analytics account was created for portal.oer.geant.org

[2016-03-07 09:29] rubenrua commented on #99
Commit e30a7541830ce71dc70f4bbc043b88442a45dae1.

[2016-03-07 09:41] rubenrua opened #100 "Index search input style is broken in mac"
![captura de pantalla 2016-03-07 a las 10 39 54](https://cloud.githubusercontent.com/assets/195745/13565579/2d1d4a94-e451-11e5-9ee1-3fe6028ee4d1.png)

[2016-03-07 09:49] Alfro commented on #51
It works for pictures that return an url error, but not for those that do a redirect, for example (having a valid url but that it's not a valid image resource)

[2016-03-07 09:49] #75 closed

[2016-03-07 09:52] Alfro commented on #93
This version is on the [staging environment](https://snf-683722.vm.okeanos.grnet.gr/) now. If everyone agrees to it, we can put it on the production env.

[2016-03-07 10:24] Alfro commented on #83
Both now have the same name and functionality. I think the bug can be considered as 'fixed'
About design issues and if we should kee both (or any), a discussion is already having place in #93
Closing issue

[2016-03-07 10:24] #83 closed

[2016-03-07 10:38] Alfro opened #101 "VIDEOTORIUM videos have '?' characters on title"
Some videotorium videos have '?' characters, as if they couldn't be parsed properlty.

I don't know if this is an issue with the Search API or if it is a problem with the original metadata.

**Screen captures:**

In Géant Portal:
![videotorium_error](https://cloud.githubusercontent.com/assets/11334172/13566965/7e1c59a6-e458-11e5-877d-ed9f569d55bb.png)

In the Search API:
![videotorium_rerror](http

[2016-03-07 10:45] Alfro commented on #97
It is now fixed on the production server (version 1.0.3)
Closing issue.

[2016-03-07 10:45] #97 closed

[2016-03-07 13:42] vogias commented on #98
#98 done

[2016-03-07 13:53] vogias commented on #101
I am afraid this is a problem comming directly from the [Videotorium repository](http://oai.videotorium.hu/videotorium/dataprovider?verb=ListRecords&metadataPrefix=oai_dc)

[2016-03-07 14:07] #100 closed

[2016-03-07 18:56] Alfro commented on #46
Those particular pictures were restored on UVigo.
Closing issue.

[2016-03-07 18:56] #46 closed

[2016-03-07 19:00] Alfro commented on #73
This feature seems to be working propertly.
Using always lowercase gives a consistent result for all the current sets.
I'll close the issue.

[2016-03-07 19:00] #73 closed

[2016-03-11 09:54] vogias commented on #101
Videotorium is corrected by data provider and reharvested, please re-index when possible

[2016-03-15 08:34] vogias commented on #101
Done.Should be closed

[2016-03-15 08:40] vogias opened #102 "Create repo data for ECLAP repository"
I will do that

[2016-03-16 09:18] Alfro commented on #101
Checked.
Videotorium is back on production and with no weird characters.
Closing issue

[2016-03-16 09:18] #101 closed